defusedxml==0.4.1
dj-database-url==0.3.0
Django==1.9
django-allauth==0.24.1
django-cors-headers==1.1.0
django-rest-auth==0.6.0
django-rest-swagger==0.3.4
djangorestframework==3.3.1
gunicorn==19.4.5
oauthlib==1.0.3
python3-openid==3.0.9
PyYAML==3.11
requests==2.9.1
requests-oauthlib==0.6.0
six==1.10.0
